{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {% from 'macros/progress-bar.html' import progressBar %}
    {{ progressBar({
        "organisations": organisations,
        "orgs_with_adopted_plan": orgs_with_adopted_plan
      })
    }}

    <h1 class="govuk-heading-xl">Development plan data collector</h1>

    <p class="govuk-body">You can create data that meets the <a href="https://digital-land.github.io/specification/specification/development-plan/" class="govuk-link">development plan data standard</a> with this prototype. You can record all the different development plans a local planning authority (LPA) makes (including local plans and neighbourhood plans) as data.</p>
    <p class="govuk-body">For each plan you can capture the events that happen and any documents that are published online during the plan-making process.</p>

    <h2 class="govuk-heading-l">The process for collecting local plans</h2>
    <ol class="govuk-list govuk-list--number">
      <li>You enter data into this prototype</li>
      <li>We use this data to seed a dataset of development plans</li>
      <li>LPAs can let us know if there are any issues with the dataset through Github discussions</li>
      <li>We continue to develop a data standard based on what we learn from this exercise</li>
    </ol>

    <h2 class="govuk-heading-l">Get started</h2>

    {% if config['AUTHENTICATION_ON'] and session["user"] %}
      <a href="{{ url_for('development_plan.new') }}" class="govuk-button govuk-button--secondary"><span class="govuk-!-margin-right-1">✚ </span>Add new plan record</a>
      <p class="govuk-body">or</p>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="govuk-button">Sign in to add a plan</a>
    {% endif %}
    <p class="govuk-body">
      <a href="{{ url_for('organisation.organisations') }}" class="govuk-link">Find by organisation</a>
    </p>

  </div>
</div>

<hr class="govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">Supporting data</h2>
    <p class="govuk-body"><a href="{{ url_for('admin.index') }}" class="govuk-link">View the supporting datasets</a></p>
  </div>
</div>

<hr class="govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">Download</h2>
    <p class="govuk-body"><a href="{{ url_for('development_plan.download') }}" class="govuk-link">Download a zip file of the data collected</a></p>
  </div>
</div>

<hr class="govuk-section-break--l">

<p class="govuk-body">This prototype is being used for a limited time to help inform our work on data standards. Access is by invite only.</p>
{% endblock content %}
