{% extends 'layouts/base.html' %}
{% import 'macros/roulette.html' as roulette %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {{ roulette.wheel({
        "organisation_count": counts.orgs
      }) }}

    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body govuk-!-margin-bottom-1">
        <strong class="govuk-!-font-weight-bold govuk-!-font-size-36">{{ counts.no_geography }}</strong> plan{{ '' if counts.no_geography == 1 else 's'}} are missing a geography</p>
      <p class="govuk-body">
        {%- if counts.no_geography %}
          <a href="{{ url_for('base.roulette', random='missing-geography') }}" class="govuk-button">Take me to one</a>
        {%- else -%}
          <button class="govuk-button govuk-button--disabled" disabled="disabled" aria-disabled="true">Take me to one</button>
        {% endif -%}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <strong class="govuk-!-font-weight-bold  govuk-!-font-size-36">{{ counts.no_documents }}</strong> plan{{ '' if counts.no_documents == 1 else 's'}} are missing documents
    </p>
      <p class="govuk-body">
        {%- if counts.no_documents %}
          <a href="{{ url_for('base.roulette', random='no-documents') }}" class="govuk-button">Take me to one</a>
        {%- else -%}
          <button class="govuk-button govuk-button--disabled" disabled="disabled" aria-disabled="true">Take me to one</button>
        {% endif -%}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <strong class="govuk-!-font-weight-bold govuk-!-font-size-36">{{ counts.no_events }}</strong> plan{{ '' if counts.no_events == 1 else 's'}} are missing events
    </p>
      <p class="govuk-body">
        {%- if counts.no_events %}
          <a href="{{ url_for('base.roulette', random='no-events') }}" class="govuk-button">Take me to one</a>
        {%- else -%}
          <button class="govuk-button govuk-button--disabled" disabled="disabled" aria-disabled="true">Take me to one</button>
        {% endif -%}
      </p>

    </div>
  </div>

  {{ roulette.scripts() }}

{% endblock content %}
