{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Supporting datasets</h1>

    <p class="govuk-body">4 datasets managed by DLUHC support the <a href="https://digital-land.github.io/specification/specification/development-plan/" class="govuk-link">development plan standard</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Development plan <a href="" class="govuk-link">document types</a></li>
      <li>Development plan <a href="https://dluhc-datasets.planning-data.dev/dataset/development-plan-event" class="govuk-link">events</a></li>
      <li>Development plan <a href="https://dluhc-datasets.planning-data.dev/dataset/development-plan-geography-type" class="govuk-link">geography types</a></li>
      <li>Development <a href="https://dluhc-datasets.planning-data.dev/dataset/development-plan-type" class="govuk-link">plan types</a></li>
    </ul>


{% endblock content %}
