{% extends 'digital-land-frontend/layouts/base.jinja' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/stylesheets/application.css">
  <link rel="stylesheet" href="/static/stylesheets/vendor/accessible-autocomplete.css">
  {% block pageStylesheets %}{% endblock pageStylesheets %}
{% endblock %}

{% block mastHead %}
<header class="govuk-header {{ app_header_classes }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-govuk-header__container">
    <div class="header-proposition">
        <a href="/" class="govuk-header__link govuk-header__link--service-name">
          Data Standards
          <span class="govuk-header__product-name">
            Development plan timetable
          </span>
        </a>
        <strong class="govuk-tag govuk-phase-banner__content__tag app-header__tag">
          prototype
        </strong>
    </div>
  </div>
</header>
{% endblock mastHead %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title|default('Index') }}</h1>
{% endblock content %}

{% block govScripts %}
  {{ super() }}
  <script src="{{ assetPath | default('/static') }}/javascripts/vendor/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block digitalLandScripts -%}
  {{ super() }}
  <script src="{{ assetPath | default('/static') }}/javascripts/application.js"></script>
{%- endblock %}
