{% extends 'digital-land-frontend/layouts/base.jinja' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/stylesheets/application.css">
  {% block pageStylesheets %}{% endblock pageStylesheets %}
{% endblock %}

{% block mastHead %}
<header class="govuk-header {{ app_header_classes }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-govuk-header__container">
    <div class="app-header__content">
        <span class="app-header__team-name">
          <a href="#" class="govuk-header__link govuk-header__link--homepage app-govuk-header__link--homepage app-govuk-header__link--homepage--bold">
            <span class="govuk-header__logotype-text">
            Team name?
            </span>
          </a>
        </span>
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__product-name">
            Development plan timetable
          </span>
        </a>
        <strong class="govuk-tag govuk-phase-banner__content__tag app-header__tag">
          prototype
        </strong>
      </a>
    </div>
  </div>
</header>
{% endblock mastHead %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title|default('Index') }}</h1>
{% endblock content %}
