{% extends 'layouts/base.html' %}

{% block content %}

<span class="govuk-caption-xl">Development plan: {{ development_plan.reference }}</span>
<h1 class="govuk-heading-xl">Edit event</h1>

<p class="govuk-body">You are updating the <span class="govuk-!-font-weight-bold">{{ event_type.name }}</span> event in the <span class="govuk-!-font-weight-bold">{{ development_plan.name }}</span> timetable.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" method="POST">
      {{ form.hidden_tag() }}

      <div class="govuk-form-group">
        <label for="#" class="govuk-label">Event</label>
        <div class="govuk-body govuk-!-font-weight-bold">{{ event.development_plan_event }} <span class="govuk-hint">(for {{ development_plan.reference }})</span></div>
      </div>

      {% for field in form %}
      {%- if field.name not in ['event_date_year', 'event_date_month', 'event_date_day', 'notes', 'development_plan_event', 'csrf_token'] %}
        {%- if field.name == 'organisations' %}
        <div class="app-organisation-select" data-module="multi-select">
          <div class="govuk-form-group" data-mulit-select="form-group">
            {{ field.label(class='govuk-label') }}
            {{ field(class='govuk-input') }}
          </div>
          <div class="app-hidden">
            <select name="organisation_select" id="organisation_select" data-mulit-select="select">
              {% for organisation in field.choices %}
              <option value="{{ organisation[0] }}">{{ organisation[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="govuk-form-group" {% if field.name == 'development_plan_event' %}data-module="flexible-select"{% endif %}>
          {{ field.label(class='govuk-label') }}
          {% if field.type == "TextAreaField" %}
          {{ field(class='govuk-textarea') }}
          {% elif field.type == "SelectField" %}
          {{ field(class='govuk-select') }}
          {% else %}
          {{ field(class='govuk-input') }}
          {% endif %}
          {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        </div>
        {% endif %}
      {% endif %}

      {% endfor %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="event-date-hint">
          <legend class="govuk-fieldset__legend">
              Event date
          </legend>
          <div id="event-date-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="event-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="event_date_day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="event_date_day" name="event_date_day" type="text" inputmode="numeric" {% if event.event_date %}value="{{ event.event_date|date_part('DD')}}"{% endif %}>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="event_date_month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="event_date_month" name="event_date_month" type="text" inputmode="numeric" {% if event.event_date %}value="{{ event.event_date|date_part('MM')}}"{% endif %}>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="event_date_year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="event_date_year" name="event_date_year" type="text" inputmode="numeric"  {% if event.event_date %}value="{{ event.event_date|date_part('YYYY')}}"{% endif %}>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ notesField({ "form": form })}}

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">Update record</button>
        <a class="govuk-link" href="{{ url_for('development_plan.plan', reference=development_plan.reference) }}">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts -%}
  <script>

    const $mulitSelectModule = document.querySelector('[data-module="multi-select"]')
    const mulitSelectModule = new dptp.MultiSelect($mulitSelectModule).init()
  </script>
{%- endblock %}
