{% extends 'layouts/base.html' %}

{% block content %}

<section class="app-progress-banner">
  <div class="app-progress__bar" style="--progress-bar-target: {{ organisations|length }}; --progress-bar-progress: {{ adopted_plans|length }};">
    <p class="govuk-visually-hidden">We expect to collect adopted local plans from {{ organisations|length }} planning authorities</p>
    <span class="app-progress__bar__completed">
      <p class="govuk-visually-hidden">So far we have collected {{ adopted_plans|length }}</p>
    </span>
  </div>
  <p class="govuk-body">{{ adopted_plans|length }} of {{ organisations|length }} adopted local plans {{ 'has' if adopted_plans|length == 1 else 'have' }} been collected</p>
</section>

  <span class="govuk-caption-xl">Development plans</span>
  <h1 class="govuk-heading-xl">Find a plan by organisation</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" data-module="dl-list-filter-form">
      <div class="govuk-form-group">
        <label for="organisation" class="govuk-label">Planning authority</label>
        <div class="govuk-hint">For example, Harrogate or Lichfield</div>
        <input type="text" class="govuk-input" name="organisation">
      </div>
      <div class="app-hide-if-js">
        <p class="govuk-body"><a href="https://digital-land.github.io/organisation/" class="govuk-link">Find authority reference</a></p>
        <div class="govuk-form-group">
          <button class="govuk-button">Find</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="app-list__wrapper dl-list-filter__count govuk-!-margin-top-6">

  <div class="govuk-body dl-list-filter__count__wrapper">Showing
    <p class="govuk-visually-hidden">
      <span class="js-accessible-list-filter__count">{{ organisations|length }}</span>
      of {{ organisations|length }}
    </p>
    <span class="js-list-filter__count" aria-hidden="true">{{ organisations|length }}</span>
   planning authorities</div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-0" data-filter="list">
  {% for organisation in organisations %}

    <div class="govuk-summary-list__row" data-filter="item">
      <dt class="govuk-summary-list__key">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="{{ url_for('organisation.organisation', reference=organisation.organisation)}}" class="govuk-link govuk-link--text-colour">{{ organisation.name }}</a></h3>
        <span class="govuk-hint govuk-!-font-size-16">{{ organisation.organisation }}</span>
      </dt>
      <dd class="govuk-summary-list__value">
        {% if organisation.development_plans | length > 0 %}
        <ul class="govuk-list govuk-!-margin-bottom-1">
          {% for plan in organisation.development_plans %}
            <li><a href="{{ url_for('development_plan.plan', reference=plan.reference) }}" class="govuk-link">{{ plan.name }}</a> <span class="govuk-hint">({{plan.reference}})</span></li>
          {% endfor %}
        </ul>
        {% endif %}
        <a href="{{ url_for('development_plan.new', organisation=organisation.organisation) }}" class="govuk-link">+ add plan</a>
      </dd>
    </div>

  {% endfor %}
  </dl>
</div>

<p class="dl-list-filter__no-filter-match">No planning authority matches that search term.</p>


{% endblock content %}

{% block pageScripts %}
<script>
  var $formToFilterList = document.querySelector('[data-module="dl-list-filter-form"]');
</script>
{% endblock pageScripts %}
