{% extends 'layouts/base.html' %}

{% block beforeContent %}
{{ super() }}
<a href="{{ url_for('organisation.organisations') }}" class="govuk-back-link">Back to organisations</a>
{% endblock beforeContent %}

{% block content %}

  <span class="govuk-caption-xl">Organisation</span>
  <h1 class="govuk-heading-xl">{{organisation.name}}</h1>

  <h2 class="govuk-heading-m">Development plans</h2>
  {% if organisation.development_plans | length > 0%}
  <ul class="govuk-list govuk-list--bullet">
    {% for plan in organisation.development_plans %}
      <li><a href="{{ url_for('development_plan.plan', reference=plan.reference) }}" class="govuk-link">{{ plan.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="govuk-body"><span class="govuk-hint">No plans recorded</span></p>
  {% endif %}
  <a href="{{ url_for('development_plan.new', organisation=organisation.organisation) }}" class="govuk-button govuk-button--secondary">+ add new plan</a>

{% endblock content %}
